POSTGRES_DB=stickers
POSTGRES_USER=stickers
POSTGRES_PASSWORD=change-this-postgres-password

JWT_SECRET=change-this-long-random-secret
PUBLIC_BASE_URL=http://localhost:3000
CORS_ORIGIN=*
REGISTRATION_MODE=open
REGISTRATION_INVITE_CODE=
STORAGE_QUOTA_BYTES=

THROTTLE_TTL_MS=60000
THROTTLE_LIMIT=300
